/* navigation bar */
.nav-container{
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr;
}
.nav-container .social{
  display: none;
}
ul.tab{
  justify-self: center;
}
/* article page */
/* author span */
#content-container .author-line{
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.author-line .category{
  margin-top:0.5rem;
  margin-bottom: 0;
}

/* news grid */
.grid-container{
  grid-template-areas:
  "item-0 item-1 item-2"
  "item-3 item-4"
  "item-5 item-6"
  "item-7 .";
}
.item-row,.item-row-reverse{
  flex-flow: column;
}
.item-row-reverse img{
  margin:0;
}
.thumbnail{
  width: 100% !important;
}
.footer-container{
  grid-template-columns:1fr 1fr;
  grid-template-rows:none;
}
.bottom-banner{
  grid-column: 1/span 2;
}
aside.promotion{
  display: none;
}
#about-container,#content-container{
  grid-template-columns: 1fr;
}
@media screen and (max-width:489px){
  .grid-container{
    grid-template-areas: 
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5"
    "item-6"
    "item-7";
  }
  .footer-container{
    grid-template-columns:1fr;
  }
  .bottom-banner{
    grid-column: auto;
  }
  
}